{% extends 'base.html.twig' %}

{% block title %}New Beneficiaire{% endblock %}

{% block body %}
    <h1>Create new Beneficiaire</h1>

    {{ include('beneficiaires/_form.html.twig') }}

    <a href="{{ path('app_beneficiaires_index') }}">back to list</a>
{% endblock %}
