{% extends 'base.html.twig' %}

{% block title %}Nouveau Bénéficiaire{% endblock %}

{% block body %}
    {% include 'beneficiaires/_menu.html.twig' %}
    <main id="main" class="col-12 col-sm-12 col-md-12 col-lg-9 ps-md-2 pt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 offset-lg-2">
                    <h1>Nouveau Bénéficiaire</h1>
                    {{ include('beneficiaires/_form.html.twig') }}
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('app_beneficiaires_index', {'personnel': personnel.id|default }) }}"><button class="btn btn-warning">Annuler</button></a>
                        <button class="btn btn-success" form="beneficiaire">{{ button_label|default('Sauvegarder') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'beneficiaires/_footer.html.twig' %}
{% endblock %}
