/*import '@symfony/ux-live-component/styles/live.css';*/

#imageLogo {
    width: 2.5rem;
}

#sidebar{
    height: calc(100vh - 11vh);
}

@media (prefers-reduced-motion) {
    #sidebarToggle i {
        transition: none;
    }
}

@media only screen and (max-width: 500px) {
    .buttons {
        display: none;
    }
}

option, .item {
    background-color: #feffff;
}

.personnelForm>form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.personnelForm>form>div {
    width: 20em;
}

.clear-button {
    background: red !important;
    font-size: x-large;
    top: 40% !important;
}

.plugin-clear_button  {
    padding: unset !important;
}

/* @media only screen and (max-width: 820px) {
    .collapse:not(.show) {
        display: none !important;
    }
} */