/*import '@symfony/ux-live-component/styles/live.css';*/

#imageLogo {
    width: 2.5rem;
}

#sidebar {
    height: calc(100vh - 5em);
}

#sidebar.show {
    display: block;
}

@media screen and (min-width: 992px) {
    #sidebar {
        display:block;
    }

    #sidebar.show {
        display: none;
    }

    .personnelForm>form>div>div {
        width: 20em;
    }
}

@media (prefers-reduced-motion) {
    #sidebarToggle i {
        transition: none;
    }
}

@media only screen and (min-width: 250px) and (max-width: 500px) {
    .buttons {
        display: none;
    }

    .personnelForm>form {
        flex-direction: column;
        width: 100%;
    }
}

option, .item {
    background-color: #feffff;
}

.personnelForm>form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.personnelForm>form>div>div {
    width: 22em;
}

.clear-button {
    font-size: x-large;
    top: 40% !important;
}

.plugin-clear_button  {
    padding: unset !important;
}

option, .item {
    background-color: #feffff;
}
